# Node dependencies
node_modules/
.pnp/
.pnp.js

# Build and production output
build/
dist/
coverage/

# Environment variable files
*.csv
*.env*
.env.backup*



# Logs
*.log

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/

# Misc
*.tmp

# Sensitive config
config.js

# Ignore CSV import files (if any are uploaded
