# Node dependencies
node_modules/
.pnp/
.pnp.js

# Build and production output
build/
dist/
coverage/

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/

# Misc
*.tmp

# Sensitive config
config.js

# Ignore CSV import files (if any are uploaded
